{% extends 'base.html' %}

{% block content %}
   <!-- ======= product Details Section ======= -->
   <section id="product-details" class="product-details">
    <div class="container">

      <div class="row gy-6">

        <div class="col-lg-6">
          <div class="product-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="{{ flower.image }}" alt="{{ flower.name }}">
              </div>

              <div class="swiper-slide">
                <img src="{{ flower.image }}" alt="{{ flower.name }}">
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="product-info">
            <h3>{{ flower.name }}</h3>
            <ul>
              <li><strong>Description</strong>: {{ flower.description }}</li>
              <li><strong>Price</strong>: ${{ flower.price }}</li>
              <li><strong>Personality</strong>: {{ flower.personality }}</li>
              <li><strong>Occasion</strong>: {{ flower.occasion }}</li>
            </ul>
          </div>
          <div class="product-description">
            <h4>Designed To Delight</h4>
            <p>
              We have a simple goal – delight our customers with flowers that are high quality, fresh, and beautiful. While we may occasionally need to substitute for color or flower variety, we promise that the blooms you receive will be fresh and wow you or your gift recipient. 
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End product Details Section -->
{% endblock %}

